@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;0,900;1,500;1,700;1,800&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color:#CAD5E2;
    font-family: 'Montserrat';
}
.dashboard h1{
    color:#E6425E;
    font-size: 85px;
  
    
}

.dashboard{
    width: 90%;
    height: 125px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search{
    height: 100px;
    width: 900px;
    margin: auto;
    display: block;
    font-size: 35px;
    margin-top: -2.5%;
    padding-left: 15px;
    margin-right: 190px;

}


.adv {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 750px;
    /* margin-top: 1%; */
    margin-bottom: 1%;
   
}
.adv img {
    width: 100%;
    height: 750px;
    cursor: pointer;
}



.topTrend {

    height: 800px;
    display: flex;
    font-size: 3em;
    overflow-x: scroll;
    width: 90%;
    margin: auto;
}

.trend {
    height: 800px;
    width: 600px;
    /* background-color: blue; */
    margin-right: 100px;
    
    font-weight: 800;
    position: relative;
    /* border: #242B2E solid; */
    cursor: pointer;
}

.title {
    margin-top: 20px;
   
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movimg {
    height: 590px;
    width: 550px;

}

::-webkit-scrollbar {
    display: none;
}

.out {
    color: #383CC1;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;

}

.info {
     background-color: rgb(39, 36, 36);
    font-size: 30px;
    box-shadow: 0px 8px 16px 0px rgba(72, 70, 70, 0.2);
    z-index: 1;
    height: 1350px;
    width: 30%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 9%;
    left: 30%;
    display: none;
    font-size: 40px;
    font-weight: 500;
    padding: 100px;
    line-height: 70px;
    overflow: scroll;
}

.closebtn {
    float: right;
    font-size: 70px;
    cursor: pointer;
    line-height: 30px;
    
}

span {
    font-weight: 600;
    font-size: 50px;
    color:#E6425E;
    
}
.fa-solid{
    color:#FF9529
}
.sim{
    width: 100%;
    height: 550px;
    display: flex;
    overflow-x: scroll;
    
}
.simim{
    width: 350px;
    height: 550px;
    position: relative;
    margin-right: 25px;
    
}
.simimg{
    width:350px;
    height: 420px;
}
.simname{
    font-size: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 50px;
}

.tit{
    font-size:50px;
    font-weight: 600;
    margin-bottom: 2%;
    color:#E6425E;
}

@media only screen and (max-width: 1100px) and (min-width: 509px) {
    
    .dashboard{
        width: 90%;
        height:40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        display: flex;
        justify-content: space-around;
        margin-right: 0px;
    margin-bottom: 7px;
    }
    
    
    .dashboard h1{
        font-size: 25px;
        font-weight: 800;
        
    }
    .search{
    
        height: 22px;
        width: 200px;
        margin: auto;
        display: block;
        font-size: 15px;
        padding-left: 10px;
    
    
    }
    .adv {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 145px;
       padding-top: 5px;
        padding-bottom: 10px;
    }
     .adv img {
        width: 100%;
        height:145px;
    }
    .out {
        width: 90%;
        margin: auto;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    
    }
    
    .topTrend {
        height: 190px;
        display: flex;
        font-size: 2em;
        overflow-x: scroll;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
      
    }

    .trend {
        height: 190px;
       
        margin-right: 20px;
        font-size: 9px;
        font-weight: 800;
        position: relative;
        /* border: #242B2E solid; */
    }
    
    .title {
        margin-top: 5%;
        font-size: 11px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      
    }
    .movimg {
        height: 140px;
        width: 120px;
    }
    .info {
        background-color: rgb(39, 36, 36);
        font-size: 30px;
        box-shadow: 0px 8px 16px 0px rgba(198, 7, 7, 0.2);
        z-index: 1;
        top:6%;
        left:25%;
        width: 50%;
        position: fixed;
        display: none;
        font-size: 10px;
        font-weight: 500;
        padding: 10px;
        line-height: 20px;
        height: 300px;
        overflow: scroll;
        padding-bottom: 30px;

    }
    .closebtn {
        float: right;
        font-size: 30px;
        cursor: pointer;
        line-height: 20px;
    }
    
    span {
        font-weight: 600;
        font-size: 12px;
        tab-size: 5;
    }
    .movim{
       width: 40%;
       height: 100px;
       
       margin-top: 8%;

    }
    .movim .movimg{
        width: 75%;
        height: 100px;
        margin-bottom: 1%;
    }
    .sim{
        width: 100%;
        height: 40vh;
        display: flex;
        overflow-x: scroll;
        
    }
    .simim{
        width: 100px;
        height: 40vh;
        position: relative;
        margin-right: 25px;
        
    }
    .simimg{
        width:100px;
        height: 30vh;
    }
    .simname{
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 15px;
    }
    
    .tit{
        font-size:13px;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    

}
@media only screen and (max-width:509px) and (min-width:300px) {
    .dashboard{
        width: 90%;
        height:40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 7px;
    }
    .dashboard h1{
        font-size: 15px;
        font-weight: 600;
        
    }
    .search{
    
        height: 18px;
        width: 110px;
        margin: auto;
        display: block;
        font-size: 10px;
        padding-left: 10px;
        margin-right: 0px;
    
    
    }
    .adv {
        margin: auto;
        width: 90%;
        height: 120px;
    }

    .adv img {
        width: 100%;
    
        height:120px;
    }
    .out {
        width: 90%;
        margin: auto;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 2%;
    
    }
    
    .topTrend {
        height: 140px;
        display: flex;
        font-size: 2em;
        overflow-x: scroll;
        width: 90%;
        margin: auto;
      
    }

    .trend {
        height: 140px;
       
        margin-right: 20px;
        font-size: 10px;
        font-weight: 800;
        position: relative;
        /* border: #242B2E solid; */
    }
    
    .title {
        margin-top: 2%;
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      
    }
    .movimg {
        height: 110px;
        width: 100px;
    }
    .info {
         background-color: rgb(39, 36, 36);
        font-size: 30px;
        box-shadow: 0px 8px 16px 0px rgba(198, 7, 7, 0.2);
        z-index: 1;
        width: 50%;
        position: fixed;
        
        display: none;
        font-size: 9px;
        font-weight: 500;
        padding: 10px;
        line-height: 20px;
        height: 70vh;
        overflow: scroll;
        padding-bottom: 30px;

    }
    .closebtn {
        float: right;
        font-size: 30px;
        cursor: pointer;
        line-height: 20px;
    }
    
    span {
        font-weight: 600;
        font-size: 10px;
        tab-size: 5;
    }
    .movim{
       width: 50%;
       height: 100px;
       
       margin-top: 8%;

    }
    .movim .movimg{
        width: 100%;
        height: 100px;
        margin-bottom: 1%;
    }
    .sim{
        width: 100%;
        height: 150px;
        display: flex;
        overflow-x: scroll;
        
    }
    .simim{
        width: 100px;
        height: 150px;
        position: relative;
        margin-right: 15px;
        
    }
    .simimg{
        width:100px;
        height: 105px;
    }
    .simname{
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 15px;
    }
    
    .tit{
        font-size:10px;
        font-weight: 00;
        margin-bottom: 2%;
    }
    
    
    

}
@media only screen and (max-width:300px) and (min-width:250px) {
    .dashboard h1{
        font-size: 15px;
        font-weight: 600;
        
    }
    .search{
    
        height: 18px;
        width: 110px;
        margin: auto;
        display: block;
        font-size: 10px;
        padding-left: 10px;
        margin-right: 0px;
    
    
    }
    .out {
       font-size: 10px;
       
        margin-bottom: 10px;
    
    }
    
    
    .title {
        margin-top: 5%;
        font-size: 8px;
       
    }
    
  
    

}
